<div class="login">
  <div class="container">
    <form #recoveryForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

      <h1 class="form__title">
        {{ 'FORGOT_PASSWORD.FORM_TITLE' | translate }}
      </h1>

      <div class="form__group">
        <input class="form__control" formControlName="name" type="text" value=""
               placeholder="{{ 'FORGOT_PASSWORD.FORM_INPUT_NAME' | translate }}">
      </div>

      <div class="form__group">
        <input class="form__control" formControlName="password" type="password" value=""
               placeholder="{{ 'FORGOT_PASSWORD.FORM_INPUT_PASSWORD' | translate }}">
      </div>

      <div class="form__group form__group_center form__buttons">
        <input class="form__control form__control_submit" name="submit" type="submit"
               value="{{ 'FORGOT_PASSWORD.FORM_INPUT_BTN' | translate }}">
        <div *ngIf="!loaded" class="app-loading"></div>
      </div>

      <div *ngIf="(userFound$ | async) === false && recoveryForm.submitted" class="form__group form__erorrs">
        {{ 'FORGOT_PASSWORD.FORM_ERROR_WRONG_USER_NAME' | translate }}
      </div>

      <div class="form__group">
        <a routerLink="/login" class="form__link">{{ 'FORGOT_PASSWORD.FORM_LINK_SIGN_IN' | translate }}</a>
      </div>

    </form>
  </div>

</div>
