<div class="main">
  <div class="container">
    <div class="users">
      <div class="users__select-box">
        <div class="users__select-content">
          <app-user-chosen [chosenUser]="chosenUser"></app-user-chosen>
          <app-user-dropdown *ngIf="showDropdown" (chooseUser)="chooseUser($event)"></app-user-dropdown>
        </div>
        <app-user-choose-button (dropdownToggle)="toggleDropdown()"></app-user-choose-button>

      </div>

      <div class="users__search">
        <app-user-search (searchResult)="setSearchResult($event)" class="users__search-box"></app-user-search>
        <app-user-search-results [foundUsers]="foundUsers"
                                 [isSearched]="isSearched"
                                 [isFound]="isFound"
                                 (userClick)="syncFoundUser($event)"></app-user-search-results>
      </div>
    </div>
  </div>

</div>



