<div class="container">
  <form #loginForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

    <h1 class="form__title">
      Sign in
    </h1>

    <div class="form__group">
      <input class="form__control" formControlName="name" type="text" value="" placeholder="Name">
    </div>

    <div class="form__group">
      <input class="form__control" formControlName="password" type="text" value="" placeholder="Password">
    </div>

    <div class="form__group form__group_center">
      <input class="form__control form__control_submit" name="submit" type="submit" value="Sign In" [disabled]="!form.valid">
    </div>

    <div *ngIf="!(userAuth$ | async) && loginForm.submitted" class="form__group form__erorrs">
        Wrong login or password.
    </div>

    <div class="form__group">
      <a routerLink="/forgot-password">Forgot password?</a>
    </div>

  </form>
</div>
