.login{
  position: relative;
}
.form{
  border: 1px solid #ccc;
  width: 500px;
  max-width: 95%;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 50px auto 0;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.form__title{
  margin-top: 0;
}
.form__description{
  margin-bottom: 15px;
}
.form__group_center{
  text-align: center;
}
.form__group {
  & + &{
    margin-top: 20px;
  }
}
.form__buttons{
  position: relative;
}
.form__control{
  height: 38px;
  width: 100%;
  line-height: 38px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  transition: all 0.3s ease;
  outline: none;

  &:hover {
    border-color: #555555;
    color: #555555;
  }
  &:focus{
    border-color: blue;
    color: #000000;
  }
  &::placeholder {
    color: #aaaaaa;
    transition: all 0.3s ease;
  }
  &:hover::placeholder {
    color: #555555;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.form__control_submit{
  background: #aaaaaa;
  padding: 0 20px;
  color: #555555;
  border-color: #aaaaaa;
  width: 100%;
  box-sizing: border-box;

  &:disabled{
    background: #eeeeee;
    color: #888888;
    border-color: #eeeeee;
  }
  &:not(:disabled):hover{
    cursor: pointer;
    background: transparent;
  }
  &:focus{
    border-color: #aaaaaa;
  }
}
.form__erorrs{
  background: rgba(255, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px 15px;
}
.form__data{
  padding-top: 30px;
}
.form__data-title{
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}
.form__data-row{
  padding: 5px 10px;
}
.form__data-row{
  &:nth-child(even){
    background: #eeeeee;
  }
}
.form__link{
  color: #4C89F2;
  text-decoration: none;
  border-bottom: 1px solid #4C89F2;
  transition: border-color 0.3s ease;

  &:hover{
    border-color: transparent;
  }
}
.app-loading{
  &::after {
    width: 26px;
    height: 26px;
  }
}
