<div class="users__chosen">
  <div *ngIf="chosenUser; else emptyChosenUser">
    <div class="users__short-info-row">
      <span class="users__short-info-label">Name:</span> {{chosenUser.name}}
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Age:</span> {{chosenUser.age}}
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Birthday:</span> {{chosenUser.date_of_birth}}
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Information:</span> {{chosenUser.short_information}}
    </div>
  </div>

  <ng-template #emptyChosenUser>
    <div class="users__short-info-row">
      <span class="users__short-info-label">Name:</span>
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Age:</span>
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Birthday:</span>
    </div>

    <div class="users__short-info-row">
      <span class="users__short-info-label">Information:</span>
    </div>
  </ng-template>
</div>
