<div class="users__chosen">
  <div *ngIf="chosenUser; else emptyChosenUser">
    <div class="users__short-info-row">
      Name: {{chosenUser.name}}
    </div>
    <div class="users__short-info-row">Age: {{chosenUser.age}}</div>
    <div class="users__short-info-row">Birthday: {{chosenUser.date_of_birth}}</div>
    <div class="users__short-info-row">Information: {{chosenUser.information}}</div>
  </div>

  <ng-template #emptyChosenUser>
    <div class="users__short-info-row">
      Name:
    </div>
    <div class="users__short-info-row">Age:</div>
    <div class="users__short-info-row">Birthday:</div>
    <div class="users__short-info-row">Information:</div>
  </ng-template>
</div>
