<div class="header">
  <div class="container">
    <div class="header__holder">

      <div class="header__logo">
        <a href="/">USERS-APP</a>
      </div>

      <div class="header__toolbar">

        <div class="header__languages">

          <div class="header__lang header__lang_en">
            <div class="header__lang-text">EN</div>
          </div>

          <div class="header__lang header__lang_ru">
            <div class="header__lang-text">RU</div>
          </div>

        </div>

        <div class="header__auth">

          <div class="header__auth">
            <a class="header__signin button" href="/login">Sign In</a>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
