<div class="header">
  <div class="container">
    <div class="header__holder">

      <div class="header__logo">
        <a routerLink="/">USERS-APP</a>
      </div>

      <div class="header__toolbar">

        <div class="header__languages">
          <div *ngFor="let lang of translate.getLangs()"
               (click)="translate.use(lang)"
               class="header__lang header__lang_{{lang}}"
               [ngClass]="{active: lang === translate.currentLang}">
            <div class="header__lang-text">{{lang}}</div>
          </div>

        </div>

        <div class="header__auth">
          <a *ngIf="!authorized; else logout" class="header__signin button" routerLink="/login">{{ 'HEADER.SIGN_IN_BTN' | translate }}</a>

          <ng-template #logout>
            <a (click)="userLogout()" class="header__logout button">{{ 'HEADER.LOGOUT_BTN' | translate }}</a>
          </ng-template>
        </div>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div *ngIf="!(loaded$ | async) && !authorized" class="app-loading"></div>
