.form{
  border: 1px solid #ccc;
  width: 500px;
  max-width: 95%;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 50px auto 0;
}
.form__title{
  margin-top: 0;
}
.form__description{
  margin-bottom: 15px;
}
.form__group_center{
  text-align: center;
}
.form__group {
  & + &{
    margin-top: 20px;
  }
}
.form__control{
  height: 38px;
  width: 100%;
  line-height: 38px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
  transition: all 0.3s ease;
  outline: none;

  &:hover {
    border-color: #555555;
    color: #555555;
  }
  &:focus{
    border-color: blue;
    color: #000000;
  }
  &::placeholder {
    color: #aaaaaa;
    transition: all 0.3s ease;
  }
  &:hover::placeholder {
    color: #555555;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &.ng-dirty{
    &.ng-valid{
      border-color: green;
      color: green;
    }
  }
  &.ng-pending{
    border-color: #dcdc10;
  }
  &.ng-touched.ng-invalid,
  &.ng-dirty.ng-invalid{
    border-color: rgba(255, 0, 0, 0.5);
  }
}
.form__control_submit{
  background: #aaaaaa;
  padding: 0 20px;
  color: #555555;
  border-color: #aaaaaa;
  width: 100%;
  box-sizing: border-box;

  &:disabled{
    background: #eeeeee;
    color: #888888;
    border-color: #eeeeee;
  }
  &:not(:disabled):hover{
    cursor: pointer;
    background: transparent;
  }
}
.form__control-errors{
  background: rgba(255, 0, 0, 0.5);
  color: #ffffff;
  padding: 8px 15px;
}
.form__data{
  padding-top: 30px;
}
.form__data-title{
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}
.form__data-row{
  padding: 5px 10px;
}
.form__data-row{
  &:nth-child(even){
    background: #eeeeee;
  }
}
